.center-block {
    margin: 40px auto;
}

#wrapper {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

#hide-me{
    margin-top: 250px;
}

.bold {
    font-weight: bold;
}

#error textarea {
font-family: courier
}

.hideToShow {
    display: none;
}

.letter {
    font-size: 140%;
}

.left-align {
  text-align: left;
}
.center {
	text-align: center;
}

.note {
	color: red;
	font-size: 60%;
}

.warning {
    color: red;
}

td {
    text-align:center; vertical-align:middle;
}

p.question-text {
    margin-top: 60px;
    margin-bottom: 20px;
}

.blockTable td:first-child {
    border-right: 1px solid #ffffff;
}

.blockTable tr:nth-child(even) {
    background: #dddddd;
}